


<div class="gallery">

  <div class="photos">
    <p>Dubai</p>
    <%= image_tag("/dubai.jpg") %>
  </div>

  <div class="photos">
    <p>Istanbul</p>
    <%= image_tag("/istanbul.jpg") %>
  </div>

  <div class="photos">
    <p>Kuala Lumpur</p>
    <%= image_tag("/kualaLumpur.jpg") %>
  </div>

  <div class="photos">
    <p>London</p>
    <%= image_tag("/london.jpg") %>
  </div>

  <div class="photos">
    <p>New York</p>
    <%= image_tag("/newyork.jpg") %>
  </div>

  <div class="photos">
    <p>Seoul</p>
    <%= image_tag("/seoul.jpg") %>
  </div>

  <div class="photos">
    <p>Tokyo</p>
    <%= image_tag("/tokyo.jpg") %>
  </div>
  <div class="photos">
    <p>Athens</p>
    <%= image_tag("/athens.jpg") %>
  </div>
  <div class="photos">
    <p>Norway</p>
    <%= image_tag("/norway.jpg") %>
  </div>
  <div class="photos">
    <p>Egypt</p>
    <%= image_tag("/egypt.jpg") %>
  </div>
  <div class="photos">
    <p>Bahamas</p>
    <%= image_tag("/bahamas.jpg") %>
  </div>
  <div class="photos">
      <p>Bangkok</p>
      <%= image_tag("/bangkok1.jpg") %>
    </div>
    <div class="photos">
      <p>Paris</p>
      <%= image_tag("/paris.jpg") %>
    </div>

</div>
